.ai-chart-function-call {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  max-width: 80%;

  .ai-chart-function-call-title {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    font-weight: bold;

    &.is-loading::before {
      content: '';
      display: inline-block;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      border: 2px solid #000;
      border-top-color: transparent;
      animation: loading-spin 0.6s linear infinite;
    }

    .title-arrow {
      display: inline-block;
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
      border-bottom: 0.4rem solid #000;
      transform: translateY(1px) rotate(90deg);
      transition: transform 0.3s ease-in-out;
    }

    &.is-expanded {
      border-bottom: 1px solid #dcdfe6;
      padding-bottom: 0.2rem;
      .title-arrow {
        transform: translateY(1px) rotate(180deg);
      }
    }
  }

  .ai-chart-function-call-result {
    padding-top: 0.4rem;
    pre {
      margin: 0;
      white-space: pre-wrap;
      &:not(:last-child) {
        padding-bottom: 0.4rem;
        margin-bottom: 0.4rem;
        border-bottom: 1px solid #dcdfe6;
      }
    }
  }
}

@keyframes loading-spin {
  to {
    transform: translateY(1px) rotate(360deg);
  }
}
